#Set

In [2]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'apple', 'banana', 'cherry'}

#you can not add duplicate value inside the set

In [7]:
myset = {"apple", "banana", "cherry", "apple",True,1}

print(myset)
#it will remove the 1 because true and 1 is same true that's why same like false and 0

{'apple', True, 'banana', 'cherry'}

#Set method

#1. add

In [6]:
myset.add("NAdeem")
myset

{'NAdeem', True, 'apple', 'banana', 'cherry'}

#2.clear

## what it does it will empathy all the item inside the set

In [9]:
myset = {"asdfsda",223,True,1,0,"asdfasd","aa"}
myset.clear()
myset

set()

#3.copy

## It will copy one set to another **set**

In [11]:
myset = {"asdf","3323","35213","asasdasdas",True}
myset1 = myset.copy()

print(myset1) # also it copy according to value length

{True, 'asasdasdas', '35213', 'asdf', '3323'}

#4.discard

## It will remove the element from the set but not give error if it is not present

In [14]:
myset = {1,2,3}
myset.discard(2)

print(myset)

# it will not give error if i will try to discard the ele that is not present inside the set

myset.discard(10)
myset

{1, 3}

{1, 3}

#5.remove

## It will remove the element from the set and give error it is not present

In [15]:
myset = {1,2,3,4,5,6}
myset.remove(3)

In [16]:
myset

{1, 2, 4, 5, 6}

In [17]:
myset.remove(10) #will give error

KeyError: 10

#6.pop

## It will give me any number from the set

In [23]:
myset = {2,4,5,8,9,11,23}
ele = myset.pop()

print(ele)
print(myset)

2
{4, 5, 23, 8, 9, 11}

#7.union

## It will give the union of all the set

In [24]:
myset1 = {1,2,3,4,5,6}
myset2 = {3,4,5,6,7}
myset3={8,9,0,1,2,3,4,45,5,5,6,6,67,6,6,45,4,3,23,22}

newset = myset1.union(myset2,myset3)
newset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 22, 23, 45, 67}

#8.intersection

## It will give the common element of all the set

In [26]:
myset1 = {1,2,3,4,5,6}
myset2 = {3,4,5,6,7}
myset3={8,9,0,1,2,3,4,45,5,5,6,6,67,6,6,45,4,3,23,22}

newset = myset1.intersection(myset2,myset3)
newset

{3, 4, 5, 6}

#9.issubset

## It will tell is myset is subset of next set

In [29]:
myset1 = {2,3,4,5}
myset2 = {1,2,3,4,5,5,6,7,78,8,89,9,990,0}

res = myset1.issubset(myset2)
res

True

#10.issuperset

## It will oppositive of issubset

In [31]:
myset1 = {2,3,4,5}
myset2 = {1,2,3,4,5,5,6,7,78,8,89,9,990,0}

res = myset2.issuperset(myset1)
res

True

#11.len

## It will return the length of the set

In [32]:
myset = {3,5,67,3,2,5,6,3,2,21,2,3,5,67,78}
len(myset)

7

#12.max

## It will return the max ele of the set

In [33]:
myset = {3,5,67,3,2,5,6,3,2,21,2,3,5,67,78}
max(myset)

78

#13.min

## It will return the min ele of the set

In [34]:
myset = {3,5,67,3,2,5,6,3,2,21,2,3,5,67,78}
min(myset)

2

#14.isdisjoint

## It will return true if no common element are present

In [35]:
myset1 = {2,3,4,5}
myset2 = {11,22,33,44,55,66,77,88}

myset1.isdisjoint(myset2)

True