In [4]:
print("Hello Nadeem")

Hello Nadeem

In [5]:
print("hello python community")
print("Multiple print statement")

hello python community
Multiple print statement

In [6]:

Print("add one more cell")

NameError: name 'Print' is not defined

In [7]:
print("good
      morning")

SyntaxError: EOL while scanning string literal (4260684679.py, line 1)

In [8]:
"Hello Nadeem"

'Hello Nadeem'

In [12]:
#multi line string

print("""multi line
text you can use""")

multi line
text you can use

#commnet in the code

<h3>Comment</h3>

so i am giving comment to this line

In [14]:
print("upline is commennt")

upline is commennt

Multi line commnet

In [16]:
"""this is milti line comment"""
print("this is multi line commnet it start with tripple quote")

this is multi line commnet it start with tripple quote

#exception case in print statement

In [17]:

print("my name is "Anwar" khan")

SyntaxError: invalid syntax (2743588586.py, line 1)

To avoid this there are 2 way 
1. using single quote '' 
2. use trippel """ """

second step is very good

In [20]:
print('my name is "Anwar" khan')
print("""my name is "Anwar" khan """)

my name is "Anwar" khan
my name is "Anwar" khan

In [29]:
print(34+45) #sum of 2 number
print(56*43)  #mul
print(45-32) #sub
print(45/6 ) #divison
print(30%4) #module return remainder
print(40//3)  #return rounds the result down to the nearest whole number

79
2408
13
7.5
2
13

In [30]:
#power of any number

print(4**2)

16

<h1>Variable in python</h1>

In [1]:
x=20
print(x)

20

In [2]:
y=10
print(y)

10

In [ ]:
print(x+y)

In [ ]:
print(x/y)

In [3]:
#variable name start with alphabet
#variable name should not contain special character like $ % @
#variable name contain number but not startwith number
#variable name not startwith capital letter but it is recommanded

# name=12 #valid
# 12namdm =12 #notvalid
# @sumon =12  #not valid
# SumanAsdj = "12" # not recommanded

In [4]:
name="nad"
number_first = 20
numberFirst = 30
print(name,number_first,numberFirst)

nad 20 30

In [5]:
number/najsd=120 #can not assign to operator

SyntaxError: cannot assign to operator (3422262190.py, line 1)

In [6]:
__num = 100.  #it means it is a hidden variable
print(__num)

100.0

In [7]:
TEN =20
print(TEN)

20

In [9]:
num_s = 10

In [10]:
_ = 20 #dummy varibale

Data Type

In [12]:
#integer
a= 20
print(type(a))

<class 'int'>

In [14]:
#float number containing decimal
c = 7498.43
print(type(c))

<class 'float'>

complex number

In [16]:
a = 3+4j
a

#first number and second number is imaginary

(3+4j)

In [19]:
#string data type
name = "nadeem"
print(type(name))

<class 'str'>

In [21]:
#python supprt dynamic typing means you can change data while executation
name  = 10
print(name)

10

Strong typing

In [23]:
"Name "+ 1

TypeError: can only concatenate str (not "int") to str

In [24]:
"Name "+ "1"

'Name 1'

In [26]:
"23"+"14"

#you can do with same data type

'2314'

In [1]:
#working on operator

In [2]:
print(2+3)

5