In [ ]:
A = [[1,2,3],[4,5,6],[8,9,10]]
A

[[1, 2, 3], [4, 5, 6], [8, 9, 10]]

In [ ]:
A[0][0]

1

In [ ]:
B = [["watch",1000],["phonw",2000],["laptop",7000]]

for i in B:
    print(i)

B[0][1]+B[1][1]+B[2][1]

['watch', 1000]
['phonw', 2000]
['laptop', 7000]

10000

In [ ]:
totalCost = 0;
for i in range(len(B)):
    totalCost += B[i][1]
print(totalCost)

10000

In [ ]:
totalCost = 0
for item in B:
  print(item)
  totalCost+= item[1]

print(totalCost)

['watch', 1000]
['phonw', 2000]
['laptop', 7000]
10000

In [ ]:
#List comprenhension

In [ ]:
A = [1,2,3,4,45,5,6,6,7,7,23,34,56]
C = []
for i in A:
    # print(i**2)
    C.append(i**2)

print(C)

[1, 4, 9, 16, 2025, 25, 36, 36, 49, 49, 529, 1156, 3136]

In [ ]:
ans = [i**2 for i in A]
print(ans)

[1, 4, 9, 16, 2025, 25, 36, 36, 49, 49, 529, 1156, 3136]

In [ ]:
# only take the square of odd number in the list a

ans = [i**2 for i in A if i%2!=0]
print(ans)

[1, 9, 2025, 25, 49, 49, 529]

In [ ]:
ans = [i**2 for i in A if i%2==0]
print(ans)

[4, 16, 36, 36, 1156, 3136]

In [ ]:
#count

In [ ]:
D = [3,5,6,3,2,21,4,6,3,2,124,2,5,3,2,2,43]
D.count(2)

5

In [ ]:
for i in D:
  print(f" {i} in coming in {D.count(i)} times")

 3 in coming in 4 times
 5 in coming in 2 times
 6 in coming in 2 times
 3 in coming in 4 times
 2 in coming in 5 times
 21 in coming in 1 times
 4 in coming in 1 times
 6 in coming in 2 times
 3 in coming in 4 times
 2 in coming in 5 times
 124 in coming in 1 times
 2 in coming in 5 times
 5 in coming in 2 times
 3 in coming in 4 times
 2 in coming in 5 times
 2 in coming in 5 times
 43 in coming in 1 times

In [ ]:
A = "Nadeem"
for i in A:
  print(i,A.count(i))

N 1
a 1
d 1
e 2
e 2
m 1

In [ ]:
B = ["Nadeem","Anwar","Khan","Nadeem"]
for i in B:
  print(i , B.count(i))

Nadeem 2
Anwar 1
Khan 1
Nadeem 2

In [ ]:
#extend

In [ ]:
A = [1,2,4,5]
B = [5,7,9,2]

In [ ]:
# A.extend(B)
# A

In [ ]:
A.append(B)
A

[1, 2, 4, 5, [5, 7, 9, 2]]

In [ ]:
#index method

A = [2,3,4,5,7,7,1,2,34,4,56,77,3,2,2,6,4,3,2,5,65,3,2,2]

A.index(56)

10

In [ ]:
C = [2,3,4+3j,True,"Nadeem",1+1j]

for i in C:
  # if type(i)==complex:
  if isinstance(i,complex):
    print(C.index(i))

2
5

Len

In [2]:
A = [2,3,45,2,21,4]
len(A)

6

# insert
# insert the data on specific index

In [7]:
A = [3,6,87,3,21,3,45,3,2]
A.insert(1,99)

In [8]:
A

[3, 99, 6, 87, 3, 21, 3, 45, 3, 2]

# remove

In [11]:
A = [7,9,4,2,1,4,6,7,8]
A.remove(4)
A

[7, 9, 2, 1, 4, 6, 7, 8]

# Pop
#remove the element from last

In [12]:
A = [6,8,2,9,1]
A.pop()

1

In [13]:
A

[6, 8, 2, 9]

# Clear
#clear the list

In [14]:
A = [9,0,2,4,2,4,2]
A.clear()

In [15]:
A

[]

# count
# it give this number is coming how many times

In [16]:
A = [6,89,3,1,4,6,8,4,3]
A.count(1)

1

# sort

# it sort the list into the ascending or descending order

In [17]:
A = [9,8,6,2,1]
A.sort()

In [18]:
A

[1, 2, 6, 8, 9]

# reverse

# it reverse the list

In [20]:
A = [9,8,5,2,1,43,4,23,2,235,36,32,23,23]
A.reverse()

In [21]:
A

[23, 23, 32, 36, 235, 2, 23, 4, 43, 1, 2, 5, 8, 9]

# copy

# it copy the one list into another

In [23]:
A = [ 1,4,76,3,56,32,2]
B = A
A.insert(2,"Nadeem")
print(B)

[1, 4, 'Nadeem', 76, 3, 56, 32, 2]