In [ ]:
x=20
print(x)

20

In [ ]:
y=10
print(y)

10

In [ ]:
print(x+y)

30

In [ ]:
print(x/y)

2.0

In [ ]:
#variable name start with alphabet
#variable name should not contain special character like $ % @
#variable name contain number but not startwith number
#variable name not startwith capital letter but it is recommanded

# name=12 #valid
# 12namdm =12 #notvalid
# sumon =12  #not valid
# SumanAsdj = "12" # not recommanded

In [ ]:
name="nad"
number_first = 20
numberFirst = 30
print(name,number_first,numberFirst)

nad 20 30

In [ ]:
number/najsd=120 #can not assign to operator

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-7-ba67e654e178>, line 1)

In [ ]:
__num = 100.  #it means it is a hidden variable
print(__num)

# Today agenda

*   Variable case sensativity

*   reversed work in python

* multi assignment of variable
* user input
* type casting
* meomary block
* operator
  * logical
  * equality
  * comparison
  * arthimetic
  * bitwise (Advance class)
  * operator for set and dictonary (Advance class)


* string method

In [ ]:
# case sensativity

Ten = 10
ten = 10

#these both are different

print(Ten,ten)

In [ ]:
# reserved word in python
print = "Hello nadeem"
type(print)
# print(print)

#you can not use reserved word as variable
#python does not restrict you to use reserved word as varibale name

str

In [ ]:
print("hello")

hello

In [ ]:
#reserved word in python
#ref link - https://realpython.com/lessons/reserved-keywords/

In [ ]:
nn = "Nadem"
print(nn)

Nadem

In [ ]:
# multi assignment of variable

In [ ]:
a,b,name = 10,2.0,'nadeem'
print(a,b,name)

print(type(a))
print(type(b))
print(type(name))

10 2.0 nadeem
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
d,e ,f = 20
print(d,e,f)

TypeError: cannot unpack non-iterable int object

In [ ]:
a=b=c = 20
print(a,b,c)

20 20 20

In [ ]:
a,A,b,B = 10,"nako",True,45.3 # it will not give any error because variable is case sensativity
print(a,A,b,B)

10 nako True 45.3

# User input

In [ ]:
name = input("Enter your name ")
print(f"your name is {name}")

Enter your name kch nhi'
your name is kch nhi'

# type casting

In [ ]:
num1 = input("Enter num1 ")
num2 = input("Enter num2 ")

print(f"Sum of {num1} and {num2} is {num1+num2}")

#it will give wrong output because it num1 and num2 is string to convert this into int we need type casting

print(type(num1))
print(type(num2))

#you can type of variable

Enter num1 12
Enter num2 34
Sum of 12 and 34 is 1234
<class 'str'>
<class 'str'>

In [ ]:
# to solve the above issue we need type conversation

In [ ]:
num3 = int(input("Enter num3 "))
num4 = int(input("Enter num4 "))

print(f"Sum of {num3} and {num4} is {num3+num4}")

#it will give right output because it num3 and num4 is int

print(type(num3))
print(type(num4))

#you can type of variable of these 2 variable after conversion int

Enter num3 12
Enter num4 23
Sum of 12 and 23 is 35
<class 'int'>
<class 'int'>

In [ ]:
#if you want to give float value then you should give float
n1 = float(input("Enter n1 "))
n2 = float(input("Enter n2 "))

print(f"Sum of {n1} and {n2} is {n1+n2}")

#it will give right output because it num3 and num4 is int

print(type(n1))
print(type(n2))

#you can type of variable of these 2 variable after conversion int

Enter n1 12.3
Enter n2 12.9
Sum of 12.3 and 12.9 is 25.200000000000003
<class 'float'>
<class 'float'>

In [ ]:
a = "10"
int(a)

b= "df".  #you can convert only string with number not string
int(b)

ValueError: invalid literal for int() with base 10: 'df'

In [ ]:
c = "30.9"
int(c) # it will give error because we are converting float to int


#float int conversion is allow

ValueError: invalid literal for int() with base 10: '30.9'

In [ ]:
d = 34.8
int(d)

34

In [ ]:
#int to bool conversion

g = 10
print(f"initial value of g before coonversion {g}")

g= bool(g)
print(f"final value of g before coonversion {g}")

initial value of g before coonversion 10
initial value of g before coonversion True

In [ ]:
g = 0
print(f"initial value of g before coonversion {g}")

g= bool(g)
print(f"final value of g before coonversion {g}")

initial value of g before coonversion 0
final value of g before coonversion False

In [ ]:
g = -20
print(f"initial value of g before coonversion {g}")

g= bool(g)
print(f"final value of g before coonversion {g}")

initial value of g before coonversion -20
final value of g before coonversion True

In [ ]:
# all others number except 0 will give true

In [ ]:
 #stirng to bool
e = "True"
print(f"initial value of g before coonversion {e}")

e = bool(e)
print(f"final value of g before coonversion {e}")

initial value of g before coonversion True
final value of g before coonversion True

In [ ]:
 e = "False"
print(f"initial value of g before coonversion {e}")

e = bool(e)
print(f"final value of g before coonversion {e}")

#here it is treating is like a string not value

initial value of g before coonversion False
final value of g before coonversion True

In [ ]:
#empthy string will give you false
h = ""
print(f"initial value of g before coonversion {h}")

h = bool(h)
print(f"final value of g before coonversion {h}")

initial value of g before coonversion
final value of g before coonversion False

Meromary block

In [ ]:
a,b,c = 10,20,30
id(a)

137068679037456

In [ ]:
id(b)

137068679037776

In [ ]:
id(c)

137068679038096

In [ ]:
# if values will be same meomary location will be same

d=23.3
e=23.3
print(id(d),id(e))

137067562140112 137067562140592

In [ ]:
d==e

True

In [ ]:
d==e

True

Credit | Debit | Purchase_a_book
- | - | -|
True | True | True
False | False | True

In [ ]:
Credit = False
Debit = False
if Credit and Debit:
  print("I can buy a book")
else:
  print("go and get the credit and debit card")

go and get the credit and debit card

In [ ]:
Credit = False
Debit = True
if Credit or Debit:
  print("I can buy a book")
else:
  print("go and get the credit and debit card")

I can buy a book

In [ ]:
Credit = False
Debit = True
UPI = True

# if all ther are true then true otherwise false

if Credit and Debit and UPI:
  print("I can buy a book")
else:
  print("go and get the credit and debit card")

go and get the credit and debit card

# **Equality operator**

Operator | uses | meaning
- | - | - |
is | A is b | Return true if A and b refer to same object
is not |  A is not b| Return fal
== | A==b |
!= | A1=b |

In [ ]:
a = 1
b = 1
if a is b:
  print("A is b")
else:
  print("A is not b")

A is b

In [ ]:
a = 1
b = 2
if a is not b:
  print("A is not b")
else:
  print("A is  b")

A is not b

In [ ]:
A = ["Nad","Sam"]
B = ["Alt","Man"]

print(id(A),id(B))

A is B
A is not B

135832740542848 135832738484672

True

In [ ]:
c = 346
d = 346
# it will work only 256

c is d

False

In [ ]:
e = 345
f = 345

e == f

True

# String Method

In [ ]:
date = "10/07/2024"
# Make this string in date format

today = date[0:2]
month = date[3:5]
year = date[6:]

print(f"Today date is {today}the {month}month and {year}")

Today date is 10the 07 month and 2024

In [ ]:
date = input("Enter your date of birth in DD/MM/YYYY ")
# Make this string in date format

today = date[0:2]
month = date[3:5]
year = date[6:]

print(f"User was born in  {today}the  of  {month}month  {year}")

Enter your date of birth in DD/MM/YYYY 8/07/2009
User was born in  8/the  of  7/month  009

In [ ]:
# Check palindrome number

# those number are same with left to right to right to left

# malayalam
# Madam

In [ ]:
name = "malayalam"

if name == name[::-1]:
  print("it palindrome")
else:
  print("not palindrome")

it palindrome

In [ ]:
name = "Nadeem"

# change this to Fadeem
# we can do this by many way but in this video we will see by concatination method
newname = name[1:]

print("F"+newname)

Fadeem

In [ ]:
# String has given one method to us replace , so with the help of thie method we can replace the S by F

changeName = name.replace("N","F")
print(changeName)

Fadeem

In [ ]:
# To make capatilize of string using this method

fullName = "Md Nadeem ANWAR"
print(fullName.upper())
print(fullName.lower())

MD NADEEM ANWAR
md nadeem anwar

In [ ]:
# check the length of the string

len("MDKHAN")

6